body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://res.cloudinary.com/dggvyhv27/image/upload/v1665206025/gloomhaven-user-app/istockphoto-1133497899-612x612_xbz1aa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-title {
  font-family: 'Pirata One';
  text-align: center;
  font-size: 100px;
  justify-content: center;
  padding: 150px;
}

.card{
  justify-content: center;
  text-align: center;
  font-family: 'Pirata One';
  font-size: 30px;
  margin: auto;
  padding: 40px;}

.card-body {
 display: flex;
 flex-direction: column;
}

.submit-button {
  background-color: #F2A922; /* Green */
  border: none;
  color: white;
  padding: 15px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 8px;
}

.form-input {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}